# Dependencies
node_modules/

# Sesi WhatsApp (SANGAT PENTING - Berisi Kunci Kredensial Pribadi)
sesi_bot/

# Log & Environment
*.log
.env

# Data Rekap Lokal Toko (Mencegah kebocoran data penjualan)
rekap_data.json

# File Hasil Generate Otomatis (Excel Laporan & Rekap)
Laporan_PB_*.xlsx
Rekap_Bulanan_*.xlsx
test_*.xlsx
*.temp.xlsx

# System Files
.DS_Store
Thumbs.db
bot-laporan/
